{% extends 'core/_base.html' %}


{% block content %}
<h2 class="fw-bold">Действительно хотите удалить услугу: {{ object.name }}?</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">{{ object.name }}</div>
    <div class="col">{{ object.description }}</div>
    <div class="col">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Удалить услугу</button>
        </form>
    </div>
</div>
<div class="col">
    <a href="{% url 'product:product_read' pk=object.pk %}"
    >К Услуге</a>
</div>
{% endblock %}
